.cardContainer {
  display: grid;
  grid-template-columns: 20px 4fr 1fr;
  /*border: 1px black dotted;*/
  /*padding: 20px;*/
}

*:focus {
  outline: none;
}

/*textarea {
  border: none;
  width: 95%;
  resize: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}*/

.autoExpand {
  border: none;
  width: 95%;
  resize: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.controls {
  text-align: right;
}
