body {
  margin: 0;
  background-color: #264653;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.header {
  height: 80px;
  text-align: center;
  background-color: #E98A15;
  box-shadow: 1px 2px 5px black;
  position: sticky;
  top: 0;
}

.logo {
  font-family: 'Patrick Hand', cursive;
  color: white;
  margin: 0;
  font-size: 3rem;
  line-height: 80px;
}

.mainContainer {
  width: 85%;
  margin: 30px auto;
  background-color: white;
  padding: 20px 20px;
  height: 80vh;
  overflow: scroll;
}

.date {
  text-align: center;
}
